---
- name: remove on-boot from eth0 (provisioning)
  command: sed -i s/ONBOOT=.*/ONBOOT=no/g /etc/sysconfig/network-scripts/ifcfg-eth0

- name: configure eth1 (default)
  template: src=ifcfg-eth1.j2 dest=/etc/sysconfig/network-scripts/ifcfg-eth1

# NOTE: need to go back to host and remove DHCP from default virsh network

- name: set host name
  command: hostnamectl set-hostname undercloud.redhat.local

- name: restart networking
  service: name=network state=restarted

- name: set host name in host file
  shell: echo -e "{{ inventory_hostname }}\t\tundercloud.redhat.local\tundercloud" >> /etc/hosts

- name: install pip
  command: easy_install pip

- name: install pexpect
  yum: name=pexpect state=latest

- name: upgrade pexpect
  command: pip install pexpect --upgrade

- name: add stack user
  shell: >
    useradd stack;
    echo "Redhat01" | passwd stack --stdin;
    echo "stack ALL=(root) NOPASSWD:ALL" | tee -a /etc/sudoers.d/stack;
    chmod 0440 /etc/sudoers.d/stack

- name: check if stack user .ssh directory exists
  command: ls /home/stack/.ssh
  register: stack_ssh_dir
  failed_when: stack_ssh_dir.stderr != '' and 'No such file or directory' not in stack_ssh_dir.stderr

- name: make stack user .ssh directory if necessary
  file: name=/home/stack/.ssh state=directory owner=stack group=stack
  when: stack_ssh_dir.stdout == ''

- name: check if public key exists for stack
  command: ls /home/stack/.ssh/id_rsa.pub
  register: public_key
  failed_when: public_key.stderr != '' and 'No such file or directory' not in public_key.stderr 

- name: generate key if necessary for stack
  command: ssh-keygen -b 2048 -t rsa -f /home/stack/.ssh/id_rsa -q -N ""
  when: public_key.stdout == ''

- name: fix permissions on private key for stack
  file: name=/home/stack/.ssh/id_rsa owner=stack group=stack state=file

- name: fix permissions on public key for stack
  file: name=/home/stack/.ssh/id_rsa.pub owner=stack group=stack state=file

- name: copy stack public key to host (for stack)
  expect:
    command: ssh-copy-id -i /home/stack/.ssh/id_rsa.pub stack@192.168.122.1 -o StrictHostKeyChecking=no
    responses:
      (?i)password: "Redhat01"
