---
- name: get current MAC of default interface
  shell: virsh domiflist undercloud | awk '/default/ {print $5};'
  register: vm_mac

- name: DEBUG
  debug: var=vm_mac

- name: check if host already knows of vm using arp command
  shell: arp -an | grep {{ vm_mac.stdout }} | awk '{print $2}' | cut -d \( -f 2 | cut -d \) -f 1
  register: vm_ip
  failed_when: vm_ip.stderr != '' and 'command not found' not in vm_ip.stderr

- name: DEBUG
  debug: var=vm_ip

- name: check if host already knows of vm using ip command
  shell: ip n | grep {{ vm_mac.stdout }} | awk '{print $1}'
  register: vm_ip2

- name: DEBUG
  debug: var=vm_ip2

- name: get current IP of default interface
  shell: virsh net-dhcp-leases --network default | grep {{ vm_mac.stdout }} | awk '{print $5}' | cut -d / -f 1 
  register: vm_ip3
  until: vm_ip3.stdout != ''
  retries: 6
  delay: 15
  when: vm_ip.stdout == ''

- name: set IP
  set_fact: vm_ip="{{ vm_ip2 }}"
  when: vm_ip.stdout == '' and vm_ip2.stdout != ''

- name: set IP
  set_fact: vm_ip="{{ vm_ip3 }}"
  when: vm_ip.stdout == '' and vm_ip3.stdout != ''

- name: add vm to undercloud host group
  add_host:
    name: "{{ vm_ip.stdout }}"
    groups: undercloud
    ansible_host: "{{ vm_ip.stdout }}"
    ansible_user: "root"
    ansible_ssh_pass: "Redhat01"
    #ansible_ssh_private_key_file: "{{ vm_key.stdout }}"
    ansible_become: true

#- name: give vm ssh a minute to come up
#  pause: minutes=1
#  when: ({{ post_haste }} == false)
