---
- name: delete old images (if requested)
  shell: >
    rm /var/lib/libvirt/images/rhel7-guest-official.qcow2;
    rm /var/lib/libvirt/images/rhel7-guest.qcow2;
    rm /var/lib/libvirt/images/undercloud.qcow2
  when: ({{ destroy_undercloud }} == true)
  register: destroy_undercloud_res
  failed_when: destroy_undercloud_res.stderr != '' and 'No such file or directory' not in destroy_undercloud_res.stderr

- name: check if images exist
  command: ls /var/lib/libvirt/images/rhel7-guest-official.qcow2
  register: images_exist
  ignore_errors: true

- name: get guest image
  shell: >
    cd /var/lib/libvirt/images;
    wget {{ guest_image }} -O rhel7-guest-official.qcow2
  when: ({{ destroy_undercloud }} == true or 'No such file or directory' in images_exist.stderr)

- name: create new (larger) image
  shell: >
    cd /var/lib/libvirt/images;
    qemu-img create -f qcow2 rhel7-guest.qcow2 40G
  when: ({{ destroy_undercloud }} == true or 'No such file or directory' in images_exist.stderr)

- name: install libvirt guest fs tools
  yum: name=libguestfs-xfs state=present

- name: resize image
  shell: >
    cd /var/lib/libvirt/images;
    virt-resize --expand /dev/sda1 rhel7-guest-official.qcow2 rhel7-guest.qcow2
  when: ({{ destroy_undercloud }} == true or 'No such file or directory' in images_exist.stderr)

- name: create undercloud image
  shell: >
   cd /var/lib/libvirt/images;
   qemu-img create -f qcow2 -b rhel7-guest.qcow2 undercloud.qcow2;
   virt-customize -a undercloud.qcow2 --run-command 'yum remove cloud-init* -y';
   virt-customize -a undercloud.qcow2 --root-password password:Redhat01;
   virt-customize -a undercloud.qcow2 --run-command 'rpm -ivh http://rhos-release.virt.bos.redhat.com/repos/rhos-release/rhos-release-latest.noarch.rpm && rhos-release -p {{ director_repo }} && rhos-release -p {{ osp_repo }}';
   virt-customize -a undercloud.qcow2 --run-command 'cp /etc/sysconfig/network-scripts/ifcfg-eth{0,1} && sed -i s/DEVICE=.*/DEVICE=eth1/g /etc/sysconfig/network-scripts/ifcfg-eth1'
  when: ({{ destroy_undercloud }} == true or 'No such file or directory' in images_exist.stderr)

- name: check if undercloud exists
  command: virsh dominfo undercloud
  register: undercloud_exists
  failed_when: undercloud_exists.stderr != '' and 'no domain with matching name' not in undercloud_exists.stderr

- name: delete old undercloud (if any)
  shell: >
    virsh destroy undercloud;
    virsh undefine undercloud
  register: undercloud_destroy
  when: ({{ destroy_undercloud }} == true)
  failed_when: undercloud_destroy.stderr != '' and 'no domain with matching name' not in undercloud_destroy.stderr and 'domain is not running' not in undercloud_destroy.stderr

- name: create vm
  shell: >
    virt-install --ram 16384 --vcpus 4 --os-variant rhel7 \
        --disk path=/var/lib/libvirt/images/undercloud.qcow2,device=disk,bus=virtio,format=qcow2 \
        --import --noautoconsole --vnc --network network:provisioning \
        --network network:default --name undercloud
  when: undercloud_exists.stdout == ''

- name: make sure vm is started
  command: virsh start undercloud
  ignore_errors: true
