---
- name: wait for host to boot
  local_action: wait_for host={{ inventory_hostname }} state=started delay=10 timeout=300 port=22
  when: ({{ post_haste }} == false and {{ no_pkg_update }} == false)

- name: load virt modules
  command: modprobe kvm && modprobe kvm_intel

- name: install libvirt stuff
  yum: name={{ item }} state=present
  with_items:
   - libvirt
   - qemu-kvm
   - virt-manager
   - virt-install
   - libguestfs-tools
   - xorg-x11-apps
   - virt-viewer
   - wget
   - pexpect

- name: upgrade pexpect package
  command: pip install pexpect --upgrade

- name: enable and start libvirtd
  service: name=libvirtd state=started enabled=yes
